<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
        
        <!-- 連線池c3p0設定-->
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
		<property name="hibernate.connection.username">hibernate</property>
		<property name="hibernate.connection.password">123</property>       
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">50</property>
        
		<!--SQL方言,以下使用Oracle -->
		<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>

		<!--是否要顯示實際操作資料庫時的SQL -->
		<property name="hibernate.show_sql">true</property>

        <!-- Disable the second-level cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!--交易管理類型, 以下使用JDBC Transaction -->
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        
        <!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!--Java物件與資料庫表格的映射檔 -->
		<mapping resource="com/permission_ability/model/permission_ability.hbm.xml" />
		<mapping resource="com/permission2/model/permission.hbm.xml" />

	</session-factory>
	
</hibernate-configuration>
