<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BA101G1-ben</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/BA101G1</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
  
  
  <servlet>
  		<servlet-name>ManServlet</servlet-name>
  		<servlet-class>com.man.controller.ManServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>ManServlet</servlet-name>
  		<url-pattern>/backend/man/man.do</url-pattern>
  </servlet-mapping>

  
  <servlet>
  		<servlet-name>ProductServlet</servlet-name>
  		<servlet-class>com.product.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>ProductServlet</servlet-name>
  		<url-pattern>/product/product.do</url-pattern>
  </servlet-mapping>

  <servlet>
  		<servlet-name>StoreServlet</servlet-name>
  		<servlet-class>com.store.controller.StoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>StoreServlet</servlet-name>
  		<url-pattern>/store/store.do</url-pattern>
  </servlet-mapping>
  

  <servlet>
  		<servlet-name>MemberServlet</servlet-name>
  		<servlet-class>com.mem.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>MemberServlet</servlet-name>
  		<url-pattern>/backend/mem/mem.do</url-pattern>
  </servlet-mapping>
  
  	<servlet>
		<servlet-name>StoreClassReader</servlet-name>
		<servlet-class>com.store.controller.StoreClassReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StoreClassReader</servlet-name>
		<url-pattern>/StoreClassReader</url-pattern>
	</servlet-mapping>

</web-app>