<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BA101G1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.tools.LoginFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/backend/index.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
</filter-mapping>
  
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/BA101G1</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>ManServlet</servlet-name>
    <servlet-class>com.man.controller.ManServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManServlet</servlet-name>
    <url-pattern>/backend/man/man.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.product.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/product/product.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.mem.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/backend/mem/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RevenueServlet</servlet-name>
    <servlet-class>com.rev.controller.RevenueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RevenueServlet</servlet-name>
    <url-pattern>/backend/rev/rev.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.news.controller.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/frontend/latestnews/news.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdServlet</servlet-name>
    <servlet-class>com.ad.controller.AdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdServlet</servlet-name>
    <url-pattern>/frontend/advertisement/ad.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader</servlet-name>
    <servlet-class>com.ad.controller.DBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader</servlet-name>
    <url-pattern>/advertisement/DBGifReader.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.order.controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/frontend/selectOrder/order.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PushServlet</servlet-name>
    <servlet-class>com.push.controller.PushServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushServlet</servlet-name>
    <url-pattern>/push/push.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberReportServlet</servlet-name>
    <servlet-class>com.member_report.controller.MemberReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberReportServlet</servlet-name>
    <url-pattern>/member_report/member_report.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>com.orderlist.controller.OrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/frontend/selectOrder/orderlist.do</url-pattern>
  </servlet-mapping>
   <servlet>
  		<servlet-name>StoreServlet</servlet-name>
  		<servlet-class>com.store.controller.StoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>StoreServlet</servlet-name>
  		<url-pattern>/store/store.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StoreReportServlet</servlet-name>
    <servlet-class>com.store_report.controller.StoreReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreReportServlet</servlet-name>
    <url-pattern>/store_report/store_report.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PServlet</servlet-name>
    <servlet-class>com.permission2.controller.PServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PServlet</servlet-name>
    <url-pattern>/backend/man/p.do</url-pattern>
  </servlet-mapping>

  

  
<servlet>
		<servlet-name>StoreClassReader</servlet-name>
		<servlet-class>com.store_class.controller.StoreClassReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StoreClassReader</servlet-name>
		<url-pattern>/StoreClassReader</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProductClassReader</servlet-name>
		<servlet-class>com.product_class.controller.ProductClassReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductClassReader</servlet-name>
		<url-pattern>/ProductClassReader</url-pattern>
	</servlet-mapping>

	 <servlet>
    <servlet-name>OrderServlet2</servlet-name>
    <servlet-class>com.order.controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet2</servlet-name>
    <url-pattern>/order/order.do</url-pattern>
  </servlet-mapping>
	 <servlet>
    <servlet-name>storereader</servlet-name>
    <servlet-class>com.store.controller.StoreReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>storereader</servlet-name>
    <url-pattern>/StoreReader</url-pattern>
  </servlet-mapping>
	 <servlet>
    <servlet-name>ProDBGifReader</servlet-name>
    <servlet-class>com.product.controller.DBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProDBGifReader</servlet-name>
    <url-pattern>/ProDBGifReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MRDBGifReader</servlet-name>
    <servlet-class>com.member_report.controller.MR_DBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MRDBGifReader</servlet-name>
    <url-pattern>/MRDBGifReader</url-pattern>
  </servlet-mapping>
	 <servlet>
    <servlet-name>MemberLoginHandler</servlet-name>
    <servlet-class>com.mem.controller.MemberLoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLoginHandler</servlet-name>
    <url-pattern>/MemberLoginHandler</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>MemberLoginFilter</filter-name>
    <filter-class>com.mem.controller.MemberLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MemberLoginFilter</filter-name>
    <url-pattern>/frontend/mem/member_info.jsp</url-pattern>
    <url-pattern>/frontend/shoppingcart/Checkout.jsp</url-pattern>
    <url-pattern>/frontend/mem/member_info_order.jsp</url-pattern>
    <url-pattern>/frontend/mem/member_info_update.jsp</url-pattern>
    <url-pattern>/frontend/mem/member_report.jsp</url-pattern>
    <url-pattern>/frontend/mem/member_addMR.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
   <servlet>
    <servlet-name>StoreLoginHandler</servlet-name>
    <servlet-class>com.store.controller.StoreLoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreLoginHandler</servlet-name>
    <url-pattern>/StoreLoginHandler</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>StoreLoginFilter</filter-name>
    <filter-class>com.store.controller.StoreLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StoreLoginFilter</filter-name>
    <url-pattern>/store/store_info.jsp</url-pattern>
    <url-pattern>/store/store_order.jsp</url-pattern>
    <url-pattern>/store/store_order_finish.jsp</url-pattern>
    <url-pattern>/store/store_order_handleing.jsp</url-pattern>
    <url-pattern>/store/store_order_notconfirm.jsp</url-pattern>
    <url-pattern>/store/store_update.jsp</url-pattern>
    <url-pattern>/store/store_report.jsp</url-pattern>
    <url-pattern>/store/store_addSR.jsp</url-pattern>
    <url-pattern>/store/store_insert_product.jsp</url-pattern>
    <url-pattern>/store/store_list_all_product.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
</web-app>